@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}


.jelly-triangle {
  --uib-size: 42px;
  --uib-speed: 1.25s;
  --uib-color: #512727;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
  filter: url('#uib-jelly-triangle-ooze');
 }
 
 .jelly-triangle__dot,
 .jelly-triangle::before,
 .jelly-triangle::after {
  content: '';
  position: absolute;
  width: 33%;
  height: 33%;
  background: var(--uib-color);
  border-radius: 100%;
 }
 
 .jelly-triangle__dot {
  top: 6%;
  left: 30%;
  animation: grow0 var(--uib-speed) ease infinite;
 }
 
 .jelly-triangle::before {
  bottom: 6%;
  right: 0;
  animation: grow0 var(--uib-speed) ease calc(var(--uib-speed) * -0.666)
     infinite;
 }
 
 .jelly-triangle::after {
  bottom: 6%;
  left: 0;
  animation: grow0 var(--uib-speed) ease calc(var(--uib-speed) * -0.333)
     infinite;
 }
 
 .jelly-triangle__traveler {
  position: absolute;
  top: 6%;
  left: 30%;
  width: 33%;
  height: 33%;
  background: var(--uib-color);
  border-radius: 100%;
  animation: triangulate var(--uib-speed) ease infinite;
 }
 
 .jelly-maker {
  width: 0;
  height: 0;
  position: absolute;
 }
 
 @keyframes triangulate {
  0%,
   100% {
   transform: none;
  }
 
  33.333% {
   transform: translate(120%, 175%);
  }
 
  66.666% {
   transform: translate(-95%, 175%);
  }
 }
 
 @keyframes grow0 {
  0%,
   100% {
   transform: scale(1.5);
  }
 
  20%,
   70% {
   transform: none;
  }
 }

 .treebeard {
  background: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.treebeard .toggle {
  background: #333;
  border-radius: 3px;
}

.treebeard .header:hover {
  background: #2a2d2e;
}

.treebeard .header {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.treebeard .header .name {
  margin-left: 5px;
}